@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');


//Header start

.navbar .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none !important;
    position: relative;
    border-bottom: 2px solid #fff;
    transition: all 300ms linear;
  }
  .navbar .navbar-toggler-icon:after,
  .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 2px;
    background-color: #fff;
    top: 0;
    left: 0;
    content: "";
    z-index: 2;
    transition: all 300ms linear;
  }
  .navbar .navbar-toggler-icon:after {
    top: 8px;
  }
  
  .navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg) !important;
  }
  .navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg) !important;
  }
  .navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent !important;
  }

.header
{ 
    .logo
    {
        width: 132px;
    }
    li{
        padding: 20px;
        a
        {
        color: white !important;
        font-weight: 500;
        }
    }
}
//header end

//Hero start

@media  screen and (max-width: 600px)
{
    .hero
    {
    .hd1
    {
        font-size: 38px !important;
    }
   }
}

.hero
{
    background-image: url(./Media/bg1.jpeg);
    background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   

   .hd1
   {
    font-family: 'Nosifer', cursive;
       font-size: 70px;
       font-weight: 600;
       color: white;
       margin-top: 11rem;
       
   }
   .col2
   {
        background-color: #CC6C38;
        background: transparentize($color: #CC6C38, $amount: 0.3);
        margin-top: 80px;
        color: white;
        border: 1px solid #745F98;
        margin-bottom: 80px;
        h3
        {
            margin-top: 50px;
        }
        .buy
        {
        background-color: #745F98;
        padding: 17px 40px 17px 40px;
        border-radius: 28px;
        color: white;
        font-weight: 500;
        font-size: 16px;
        border: transparent;
        margin-top: 10px
        }

        .twitter
        {
            margin-top: 30px;
            color: white;
            // border: 5px solid #1F95E0;
            background-color: #1F95E0;
            padding: 10px;
            border-radius: 8px;
            
        }
        .telegram
        {
            margin-top: 30px;
            color: white;
            // border: 5px solid #1F95E0;
            background-color: #745F98;
            padding: 10px;
            border-radius: 8px;
            margin-left: 3px;
        }

        .para2
        {
            font-weight: 500;
            margin-bottom: 90px
        }
    }

}
//Hero end


//whatHF start
.whatHF
{
    background-color: black;
    color: white;
    .h5
    {
        font-size: 15px;
    }
    .col1
    {
        margin-top: 8rem;
        margin-bottom: 70px;
    }
    .line2
    {
        margin-left: -14px;
    }

    p
    {
        margin-top: 50px
    }


    .twitter
        {
            margin-top: 30px;
            color: white;
            // border: 5px solid #1F95E0;
            background-color: #1F95E0;
            padding: 10px;
            border-radius: 8px;
            
        }
        .telegram
        {
            margin-top: 30px;
            color: white;
            // border: 5px solid #1F95E0;
            background-color: orange;
            padding: 10px;
            border-radius: 8px;
            margin-left: 3px;
        }

    .img1
    {
        margin-bottom: 70px;
        margin-top: 8rem;
        width: 80%
    }

}
//whatHF end


//banner1 start
.banner1
{
    background-image: url(./Media/bg-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    background-color: #745F98;
    color: white;

    .line2
    {
        margin-left: -14px;
    }
    .h5
    {
        font-size: 15px;
        margin-top: 80px
    }

    .col1
    {
        padding: 23px;
        margin-bottom: 80px;
    }
    .col1:hover
    {
        background-color: transparentize($color: #94637B, $amount: 0.3);
        border-radius: 10px;
    }

}
//banner1 end

//our plane start
.ourplane
{
    background-color: black;
    .ourp1
    {
        margin-top: 90px !important;
    }
    .ourp2
    {
        margin-bottom: 90px !important;
    }
}
//ourplan end


//whitepaperstart
.items:hover
{
    background-color: rgb(72, 92, 92) !important;
}
.lin
{
    background-color: #F27022 !important;
    .items
    {
        color: white;
        padding: 20;
        font-size: 17px;

    }
}


.whitepaper
{
    background-color: #745F98;
    h1
    {
        color: white;
    }
    .con2
    {
        color: white;
        background-color: black;
        padding: 30PX;
        h1
        {
            margin-top: 20px;
        }
        .h5
    {
        font-size: 15px;
        margin-top: 90px;
        color: white !important;
    }
    .line2
    {
        margin-left: -14px;
    }
    .check
    {
       
        color:#F27022;
        padding-right: 12px;
    }

    .p1
    {
        margin-top: 30px;
        display: inline-block;
        margin-right: 10rem;
        font-weight: 900;
    }

    .btn
    {
        margin-top: 50px;
        background-color: #F27022;
        padding:20px;
        padding-bottom: 10px;
        height: 60px;
        font-size: 18px;
        color: white;

    }
    ul
    {
        background-color: #F27022;
        a
        {
            color: white;
        }
    
        a:hover
        {
        background-color: aqua !important;
        }
    }

    .img
    {
        margin-top: 90px;
        width: 80%;
        margin-bottom: 90px;
    }
    }

}
//whitepaper end


//faqs start
.faqs
{
    background-color: black;
    h1
    {
        color: white ;
    }
    .h5
    {
        
        margin-top: 8rem;
        color: white ;
    }
    .line2
    {
        margin-left: -14px;
    }
    .faqmar
    {
        margin-top: 90px;
    }
    .img
    {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 90%;
    }

    .row2
    {
    .col1
    {
        margin-bottom: 50px;
    }
        .twitter
            {
                margin-top: 30px;
                color: white;
                // border: 5px solid #1F95E0;
                background-color: #1F95E0;
                padding: 10px;
                border-radius: 8px;
                
            }
            .telegram
            {
                margin-top: 30px;
                color: white;
                // border: 5px solid #1F95E0;
                background-color: orange;
                padding: 10px;
                border-radius: 8px;
                margin-left: 13px;
            }
    }
}
//faqs end


.footer
{
    .hr
    {
        color: rgb(244, 241, 244) !important;
        margin-bottom: 70px;
    }
    .p1
    {
        margin-bottom: 60px;
    }

}
//footer


//base
.base
{
.scroll
{
    background-color: #F27022;
    height: 50px;
    color: white !important;
}
}